@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

.offer-container {
  width: 100%;
  min-height: 130vh;
  background-color: #000000;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 200px 0;
  gap: 150px;
}

.offer-top {
  color: #d38d38e0;
  padding-top: 30px;
  text-align: center;
}

.offer-top h1 {
  font-size: 45px;
  margin: 0 0 16px;
  font-family: Dancing Script, cursive;
  color: #c6a16e;
}

.offer-top p {
  color: #c6a16e;
  font-family: Segoe UI, Tahoma, Geneva, Verdana, sans-serif;
  font-size: 60px;
  font-weight: 600;
}

.offer-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.offer-cards {
  padding: 30px;
  transition: 0.3s ease;
  cursor: pointer;
}

.offer-cards img {
  width: 350px;
  height: auto;
  transition: transform 0.4s ease;
}

.offer-cards:hover img {
  transform: scale(1.06);
}

.title {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

.title-number {
  background: #c6a16e;
  font-size: 16px;
  width: 25px;
  height: 35px;
  color: #fff;
  border-radius: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease, color 0.3s ease;
}

.title h2 {
  width: 200px;
  font-size: 30px;
  color: #fff;
  font-family: Josefin Sans, sans-serif;
  transition: color 0.3s ease;
}

.offer-cards p {
  width: 310px;
  color: #96989a;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  transition: color 0.3s ease;
}

.offer-arrow {
  color: #c6a16e;
  font-size: 50px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.offer-cards:hover .title-number {
  background: #ffffff;
  color: #000;
}

.offer-cards:hover h2 {
  color: #c6a16e;
}

.offer-cards:hover p {
  color: #ffffff;
}

.offer-cards:hover .offer-arrow {
  color: #ffffff;
  transform: translateX(6px);
}

@media (max-width: 430px) {
  .offer-top h1 {
    font-size: 35px;
  }
  .offer-container {
    padding: 80px 0;
    gap: 50px;
  }
  .offer-top p {
    font-size: 40px;
  }
  .offer-bottom {
    flex-direction: column;
  }
  .offer-cards img {
    width: 300px;
  }
}
