@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 100px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 150px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

header ul {
  display: flex;
  gap: 40px;
  list-style: none;
}

header ul li a {
  font-size: 20px;
  text-decoration: none;
  color: #000;
  font-family: Inconsolata, monospace;
  transition: 0.3s;
}

header ul li a:hover {
  color: #df9e12;
}

.header-button {
  width: 200px;
  height: 100px;
  background-color: #d38d38e0;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-button h2 {
  font-family: Inconsolata, monospace;
  color: #fff;
  font-size: 18px;
}

.side-bar {
  display: none;
  cursor: pointer;
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: 0;
  width: 280px;
  height: 100vh;
  background: #fff;
  padding: 50px 20px;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 300;
  box-shadow: -2px 0 15px rgba(0, 0, 0, 0.2);
}

.mobile-menu.open {
  transform: translateX(0);
}

.mobile-menu ul {
  list-style: none;
  margin-top: 100px;
  padding: 0;
}

.mobile-menu li {
  margin: 20px 0;
}

.mobile-menu li button{
  border: none;
  background-color: #df9e12;
  color: #fff;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
}

.mobile-menu ul li  a {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  font-family: Inconsolata, monospace;
  transition: 0.3s;
}

.mobile-menu ul li a:hover {
  color: #df9e12;
}

.close-btn {
  position: absolute;
  top: 500px;
  right: 220px;
  background: none;
  border: none;
  font-size: 50px;
  cursor: pointer;
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 200;
}

@media (max-width: 2560px) {
  header{
    padding: 0 100px;
  }
}

@media (max-width: 1440px) {
  header {
    padding: 0 100px;
  }
}

@media (max-width: 1024px) {
  header {
    padding: 0 30px;
  }
  header ul {
    display: none;
  }
  .header-button {
    display: none;
  }
  .side-bar {
    display: block;
    font-size: 60px;
  }

}
 