@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
header {
  width: 100%;
  height: 100px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 150px;
  z-index: 1000;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

header ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  list-style: none;
}

header ul li a {
  font-size: 20px;
  text-decoration: none;
  color: #000;
  font-family: Inconsolata, monospace;
  font-weight: 400;
  transition: 0.3s;
}

header ul li a:hover {
  color: #df9e12;
  cursor: pointer;
}

header .header-button {
  width: 200px;
  height: 100px;
  background-color: #d38d38e0;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

header .header-button h2 {
  font-family: Inconsolata, monospace;
  cursor: pointer;
  color: #fff;
  text-align: center;
  font-size: 15px;
}

.side-bar {
  display: none;
}

@media (max-width: 2560px) {
  header {
    max-width: 100%;
    max-height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 100px;
  }

  header .logo img {
    width: 180px;
    height: 30px;
  }

  header ul {
    gap: 30px;
  }

  header ul li a {
    font-size: 18px;
  }

  header .header-button {
    width: 200px;
    max-height: 100%;
  }
  header .header-button h2 {
    font-size: 20px;
  }
}

@media (max-width: 1440px) {
  header {
    max-width: 100%;
    max-height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
  }

  header ul li a {
    font-size: 18px;
  }

  header .logo img {
    width: 180px;
    height: 30px;
    cursor: pointer;
  }

  header .header-button {
    width: 200px;
    height: 100px;
  }
  header .header-button h2 {
    font-size: 18px;
  }
}

@media (max-width: 1024px) {
  header {
    max-width: 100%;
    max-height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
  }

  header ul {
    gap: 20px;
  }

  header ul li a {
    font-size: 14px;
  }

  header .logo img {
    width: 150px;
    height: 25px;
    cursor: pointer;
  }

  header .header-button {
    width: 130px;
    height: 100px;
  }
  header .header-button h2 {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  header {
    max-width: 100%;
    max-height: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
  }

  header .logo {
    cursor: pointer;
  }

  header ul {
    display: none;
  }

  header .side-bar {
    display: block;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }

  header .header-button {
    width: 100px;
    height: 80px;
    display: none;
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: -280px;
  width: 280px;
  height: 100vh;
  background: white;
  padding: 30px 20px;
  transition: 0.3s;
  z-index: 300;
  box-shadow: -2px 0 15px rgba(0, 0, 0, 0.2);
}

.mobile-menu.open {
  right: 0;
}

.mobile-menu ul {
  list-style: none;
  margin-top: 120px;
  padding: 0;
}

.mobile-menu li {
  margin: 20px 0;
}

.mobile-menu a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-family: Inconsolata, monospace;
  font-weight: 400;
  transition: 0.3s;
}

.mobile-menu a:hover {
  color: #df9e12;
  cursor: pointer;
}

.close-btn {
  background: none;
  border: none;
  font-size: 50px;
  cursor: pointer;
  float: right;
  margin-right: 180px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 200;
}

@media (max-width: 768px) {
  .nav-list {
    display: none;
  }
}

@media (max-width: 430px) {
  header {
    max-width: 38%;
    max-height: 100px;
    display: flex;
    align-items: center;

    padding: 0 50px;
  }

  header .logo {
    width: 50px;
    height: 30px;
    cursor: pointer;
  }

  header ul {
    display: none;
  }

  header .side-bar {
    display: block;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }

  header .header-button {
    width: 100px;
    height: 80px;
    display: none;
  }

  .close-btn {
    background: none;
    border: none;
    font-size: 26px;
    cursor: pointer;
    float: right;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000080;
    z-index: 200;
  }
  .mobile-menu a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-family: Inconsolata, monospace;
    font-weight: 400;
    transition: 0.3s;
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    left: -280px;
    width: 280px;
    height: 100vh;
    background: #fff;
    padding: 50px 20px;
    transition: 0.3s;
    z-index: 300;
    box-shadow: -2px 0 15px rgba(0, 0, 0, 0.2);
  }
}

@media (max-width: 320px) {
  header {
    max-width: 100%;
    max-height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
  }

  header .logo {
    width: 50px;
    height: 50px;
    cursor: pointer;
  }

  header ul {
    display: none;
  }

  header .side-bar {
    display: block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-left: 130px;
    margin-bottom: 20px;
  }

  header .header-button {
    width: 100px;
    height: 80px;
    display: none;
  }

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 200;
  }
  .mobile-menu a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-family: Inconsolata, monospace;
    font-weight: 400;
    transition: 0.3s;
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    right: -280px;
    width: 280px;
    height: 100vh;
    background: #fff;
    padding: 30px 20px;
    transition: 0.3s;
    z-index: 300;
    box-shadow: -2px 0 15px rgba(0, 0, 0, 0.2);
  }
}
