@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.history-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
  background-color: #000000;
}

.history-container .history-left {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.history-container .history-left img {
  margin-bottom: 170px;
  width: 85%;
  height: 70%;
}

.history-container .history-right {
  padding: 50px;
  width: 40%;
  height: 60%;
  display: flex;
  flex-direction: column;
  margin-top: 110px;
  background-color: #fff;
}

.history-container .history-right > h1 {
  width: 461px;
  height: 66px;
  font-size: 70px;
  margin: 0 0 28px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.history-container .history-right > p {
  width: 520px;
  height: 150px;
  font-size: 20px;
  color: #161922;
  line-height: 25px;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  margin-top: 70px;
}

.history-container .history-right > button {
  width: 140px;
  height: 60px;
  font-size: 20px;
  background: #c6a16e;
  border: none;
  outline: none;
  margin-top: 50px;
  color: #fff;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.history-container .history-right > button a {
  color: #fff;
}

@media (max-width: 1440px) {
  .history-container .history-left img {
    margin-bottom: 100px;
    width: 80%;
    height: 60%;
  }
  .history-container .history-right {
    height: 60%;
  }
.history-container .history-right > h1 {
  font-size: 60px;
}
.history-container .history-right > p{
  font-size: 16px;
  width: 400px;
}
}

@media (max-width: 1024px) {
  .history-container .history-left {
    display: none;
  }

  .history-container .history-left img {
    display: none;
  }
  .history-container .history-right{
    width: 600px;
    height: 500px;
    margin: 0;
  }
}

@media (max-width: 430px) {
  .history-container {
    padding: 0 20px;
    flex-direction: column;
    position: relative;
  }

  .history-container .history-left img {
    width: 380px;
    margin-left: 180px;
    height: 400px;
  }
  .history-container .history-right {
    width: 390px;
    height: 400px;
    position: absolute;
    z-index: 200;
    display: flex;
    padding: 20px;
    margin-top: 400px;
  }
  .history-container .history-right h1 {
    font-size: 50px;
  }
  .history-container .history-right p {
    font-size: 17px;
    width: 380px;
    margin-top: 0;
  }
}
