@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

footer {
  width: 100%;
  height: 100vh;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0 100px;
}

footer .footer-back {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .footer-back img {
  border-radius: 20px;
}

footer .footer-afore {
  width: 1200px;
  height: 760px;
  background-color: #c6a16e;
  margin-left: -600px;
  border-radius: 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 80px 50px;
  font-family: Josefin Sans, sans-serif;
  gap: 120px;
}

footer .footer-afore .footer-top {
  display: flex;
  align-items: center;
  justify-content: center;
}

footer .footer-afore .footer-top > h1 {
  font-size: 100px;
}

footer .footer-afore .footer-middle {
  display: flex;
  gap: 30px;
}

footer .footer-afore .footer-middle .footer-contrast {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

footer .footer-afore .footer-middle .footer-contrast p {
  width: 250px;
}

footer .footer-afore .footer-middle .footer-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

footer .footer-afore .footer-middle .footer-links a {
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

footer .footer-afore .footer-middle .footer-links a:hover {
  transform: scaleY(1.2);
}

footer .footer-afore .footer-middle .footer-social {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

footer .footer-afore .footer-middle .footer-social .icoon {
  display: flex;
  gap: 10px;
  cursor: pointer;
}

footer .footer-afore h4 {
  font-size: 24px;
}

@media (max-width: 1440px) {
  footer .footer-afore .footer-top > h1 {
    font-size: 60px;
  }
}

@media (max-width: 1024px) {
  footer {
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    height: 170vh;
  }
  footer .footer-back img {
    width: 900px;
    height: 700px;
  }
  footer .footer-afore {
    width: 900px;
    margin: 0 0 0 0;
  }
}

@media (max-width: 768px) {
  footer{
    height: 1100px;
    padding: 80px 100px;
  }

  footer .footer-back img {
    width: 700px;
    height: 500px;
  }
  footer .footer-afore {
    width: 700px;
    height: 500px;
    padding: 30px;
    gap: 90px;
  }
footer .footer-afore .footer-top > h1 {
  font-size: 47px;
}
footer .footer-afore h4 {
  font-size: 22px;
}

footer .footer-afore .footer-middle .footer-contrast p {
  line-height: 18px;
  width: 200px;
  font-size: 15px;
}
}

@media (max-width: 430px) {
  footer .footer-back img {
    width: 400px;
    height: 350px;
  }
  footer .footer-afore {
    width: 430px;
    height: 400px;
    gap: 60px;
  }
footer .footer-afore .footer-top > h1 {
  font-size: 25px;
}

footer .footer-afore h4 {
  font-size: 18px;
}
footer .footer-afore .footer-middle .footer-links {
  gap: 10px;
}
}