@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

.quote-container {
  width: 100%;
  padding: 100px 300px 100px 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
}

.quote-container .quote-center {
  border: 1px solid #c6a16e;
  width: 1100px;
  height: 340px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 50px;
}

.quote-container .quote-center img {
  width: 40px;
  height: 30px;
}

.quote-container .quote-center p {
  font-family: Montserrat, sans-serif;
  width: 1000px;
  text-align: center;
  font-size: 22px;
}

@media (max-width: 1024px) {
  .quote-container {
    height: 800px;
    padding: 50px;
  }
  .quote-container .quote-center {
    width: 900px;
  }
  .quote-container .quote-center p {
    font-size: 20px;
    width: 800px;
  }
}

@media (max-width: 768px) {
  .quote-container .quote-center {
    width: 700px;
  }

  .quote-container .quote-center p {
    font-size: 17px;
    width: 600px;
  }
}

@media (max-width: 425px) {
  .quote-container .quote-center {
    width: 390px;
  }
}

@media (max-width: 430px) {
  .quote-container .quote-center {
    width: 400px;
  }

  .quote-container .quote-center p {
    font-size: 14px;
    width: 400px;
  }
}